[user]
	email = andrew@afontaine.ca
	name = Andrew Fontaine
	signingkey = FE885CB4
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg2 = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit
[pull]
	rebase = true
[help]
	autocorrect = 5
[merge]
	tool = meld
[mergetool "meld"]
	path = /usr/bin/meld
[difftool]
	prompt = false
[commit]
	gpgsign = true
